*{
    font-family: '微软雅黑';
}
body{
    background-color:ghostwhite;
}

nav .collapse a{
    text-decoration: none;
}

.logo-color{
    color: #00B7FF;
}
.remove-radius{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
a:hover{
    text-decoration:none;
}

a.mouse-on:hover{
    color: white;
}
.nav-hover:hover{
    background-color:gainsboro;
}

.prodict{
    height: 118px;
    cursor: pointer;
    background: white;
    transition:background 0.5s ease-in;
}
.prodict:hover{
    background: ghostwhite;
}

/*order center*/
.orders{
    padding-left: 0;
    padding-right: 0;
}

.orders .col-sm-2{
    padding-right: 0;
    padding-left: 15px;
}

.orders .col-sm-10{
    padding-right: 0;
    padding-left: 0;
}
.orders li{
    padding-top: 10px;
    list-style-type: none;
}

.orders ul{
    padding: 0 10px 0 0;
}

.orders a{
    text-decoration:none;
    color: black;
}

.item-color{
    color: #00B7FF;
}

.orders span:hover{
    cursor:pointer;
    color: #00B7FF;
}
/*end ordercenter*/

/*number picker*/
.input-group{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

span[disabled]
{
    pointer-events: none;
    cursor: default;
    background-color: #eee;
    opacity: 1;
}

.input-group-addon.active{
    color: #fff;
    background-color: #007aff;
}

.picker-unit-left{
    margin-right: 10px;
}

.picker-unit-right{
    margin-left: 10px;
}

.picker-unit-style{
    cursor: pointer;
    color: white;
    background-color: orangered;
    font-size: large;
}
/*end number picker*/