<div class="container">
  <div class="panel panel-default remove-radius">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="col-sm-6">
            <img src="img/logo.png" width="120px;">
          </div>
          <div class="col-sm-6">

          </div>
        </div>
        <div class="col-sm-2 text-center" ng-class="{true:'order-price'}[(orderBox.number<5&&orderBox.number>0)]">
          <h3>1-4箱</h3>
          <p>￥120元/箱</p>
        </div>
        <div class="col-sm-2 text-center" ng-class="{true:'order-price'}[(orderBox.number>=5&&orderBox.number<10)]">
          <h3>5-9箱</h3>
          <p>￥118元/箱</p>
        </div>
        <div class="col-sm-2 text-center" ng-class="{true:'order-price'}[orderBox.number>=10]">
          <h3>>=10箱</h3>
          <p>￥115元/箱</p>
        </div>
        <div class="col-sm-3">
          <div class="col-sm-12">
            订购数量
            <h-number style="width: 50px;" value="orderBox.number" min="0" max="1000"  step="1" change="onChange()"></h-number>
            {{orderBox.number*nowPrice}}
          </div>
          <div class="col-sm-6">
            <a class="btn btn-block" style="background-color: orangered;color: white;">去结算</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-block" style="background-color: orangered;color: white;">加入采购单</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8" style="padding: 0;">
    <div class="panel panel-default remove-radius">
      <div class="panel-body">
        产品详细信息
        <div class="row" style="margin-top:15px;">
          <div class="col-sm-2">
           <span>容量:</span>
            <span>1000ml</span>
          </div>
          <div class="col-sm-2">
            1
          </div>
          <div class="col-sm-2">
            1
          </div>
          <div class="col-sm-2">
            1
          </div>
          <div class="col-sm-2">
            1
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            222
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-4" style="padding-right: 0;">
    <div class="panel panel-default remove-radius">
      <div class="panel-body">
        产品详细信息

      </div>
    </div>
  </div>
</div>